<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonus</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bonus.css">
</head>
<body>
    <header class="navbar">
        <a href="homepage.html"><!--<img src="../snowlin/img/human.jpg"  alt="human">---></a>
    </header>
    <section >
        <nav class="sidebar">
            <ul>
                <li><a href="/dashboard">dashboard</a></li>
                <li><a href="/profile">user profile</a></li>
                <li><a href="/deposit">deposit</a></li>
                <li><a href="/withdraw">withdraw</a></li>
                <li><a href="/bonus">withdraw bonus</a></li>
                <li><a href="/referals">referals</a></li>
                <li><a href="/history">withdraw history</a></li>
                <li><a href="/dp-history">deposit history</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
        
    <article class="side-center">
        <div class="dash">
           <div class="depo-fund">
               <p> Withdraw Commissions</p>
           </div>
            <div class="center">
                <div class="total-earn">
                    <p>Select</p>
                 </div>
                 <div class="referal-earnings">
                     <p>Status</p>
                 </div>
                 <div class="total-withdraw">
                     <p>Processing</p>
                 </div>
                 <div class="total-deposit">
                     <p>Amount</p>
                 </div>
                 <div class="total">
                    <p>Balance</p>
                </div>
                <div class="balance">
                    <p>date</p>
                </div>
            </div>
                
                 </div>
                 </article>
                 </section>
</body>
</html>
</body>
</html>