<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="check_payment.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header class="navbar">
        <a href="homepage.html"><img src="../snowlin/img/human.jpg"  alt="human"></a>
    </header>
    <section >
        <nav class="sidebar">
            <ul>
                <li><a href="/dashboard">dashboard</a></li>
                <li><a href="/profile">user profile</a></li>
                <li><a href="/deposit">deposit</a></li>
                <li><a href="/withdraw">withdraw</a></li>
                <li><a href="/bonus">withdraw bonus</a></li>
                <li><a href="/referals">referals</a></li>
                <li><a href="/history">withdraw history</a></li>
                <li><a href="/dp-history">deposit history</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
        
    <article class="side-center">
           <div class="depo-fund">
               <p> Transaction()</p>
           </div>
           <div class="home-trans">
            <p><a href="/homepage">home</a> <span>/</span> Transaction</p>
         </div>
                 </article>
                 <article class="side-center1">
                    <div class="depo-fund1">
                        <p> Transaction Details</p>
                        <p> NOTE: Please copy and send the exact Bitcoin value to the address given below.</p>
                    </div>
                          </article>
                          <article class="side-center2">
                            <div class="depo-fund2">
                                <p> STATUS: waiting for funds <i class="fas fa-spinner"></i> </p>
                            </div>
                            
                                <table style="width:78%;" >
                                        <tr class="high">
                                            <th>Transsaction ID  :</th>
                                            <td>RFC60e7f64aad5b5666</td>
                                
                                            </tr>
                                   
                                   
                                      <tr>
                                        <th>Amount in BTC  : </th>
                                        <td>------------
                                            <div class="amount-table">
                                                <input type="text"></input>
                                                <a href="#" class="amount-btn">copy Amount</a>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Pay to this Address   :</th>
                                        <td>-----------
                                            <div class="amount-table">
                                                <input type="text"></input>
                                                <a href="#" class="amount-btn">copy amaount</a>
                                            </div>
                                            
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Timeout  :</th>
                                        <td>----------</td>
                                      </tr>
                                  </table>
                                  <div class="btn">
                                      <a href="#">view Transaction status</a>
                                  </div>
                            
                                  </article>
                          
                 </section>
                 <footer>
                    <h5>copyright &copy;2021 & licended by snowlin</h5>
                    <h5>developed by ntuyenabo abdallah</h5>
                </footer>
                
</body>
</html>
</body>
</html>




