<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referals</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="referals.css">
</head>
<body>
    <header class="navbar">
       <!-- <a href="/homepage"><img src="../snowlin/img/human.jpg"  alt="human"></a> -->
    </header>
    <section >
        <nav class="sidebar">
            <ul>
                <li><a href="dashboard">dashboard</a></li>
                <li><a href="/profile">user profile</a></li>
                <li><a href="/deposit">deposit</a></li>
                <li><a href="/withdraw">withdraw</a></li>
                <li><a href="/bonus">withdraw bonus</a></li>
                <li><a href="/referals">referals</a></li>
                <li><a href="/history">withdraw history</a></li>
                <li><a href="/dp-history">deposit history</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
        
    <article class="side-center">
        <div class="dash">
           <div class="depo-fund">
               <p> My Referrals ()</p>
           </div>
            <div class="center">
                    <div class="total-referrals">
                        <p>Total Referrals</p>
                        <p>$0</p> 
                     </div>
                     <div class="active-referrals">
                         <p>Active referrals</p>
                         <p>$0</p>
                     </div>
                     <div class="comm">
                         <p>Commissions</p>
                         <p>$0</p>
                     </div>
                </div>
                 <div class="refer-link">
                     <p>Referral Link:</p>
                     <p>https://tradeconcept.uk/register.php?ref=jokae</p>
                     <input type="text"></input>
                 </div>
                 <div class="center1">
                    <div class="total-earn">
                        <p>Name</p>
                     </div>
                     <div class="referal-earnings">
                         <p>UserName</p>
                     </div>
                     <div class="total-withdraw">
                         <p>Email</p>
                     </div>
                     <div class="total-deposit">
                         <p>Date Reg</p>
                     </div>
                </div>
                 </div>
                 </article>
                 </section>
</body>
</html>
</body>
</html>