*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#fff;
}
.navbar{
   background-color:#ffffff;
   box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.4);
   position: relative;
   height: 60px;
}
.navbar img{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.sidebar{
  float: left;
  width: 250px;
  height: 90vh; /* only for demonstration, should be removed */
  background: #456fee;
}
.sidebar ul{
    list-style: none;
}
.sidebar li{
    margin-top: 30px;
    cursor: pointer;
    
    font-size: 16px;
    text-transform: capitalize;
    padding-left:40px;
}
.sidebar a{
    list-style: none;
    text-decoration: none;
    color: #e0dbdb;
}
.title-dash{
    margin-top: 20px;
    
}
.title-dash h2:nth-child(1){
    text-transform: capitalize;
    line-height: 2px;
    letter-spacing: 2px;
    color: rgb(2, 2, 2);
    font-size: 20px;
    
}
.side-center{
  float: left;
  padding: 20px;
  width: 81%;
  background-color: #f1f1f1;
  height: 120vh; /* only for demonstration, should be removed */
}
section::after {
    content: "";
    display: table;
    clear: both;
}  
.dash{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 margin-top: 60px;
}
.total-earn{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 84px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 0 rgba(112, 109, 109, 0.40);
}
.total-earn p:nth-child(1){
    color: rgb(0, 102, 255);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}
.total-earn p:nth-child(2){
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.referal-earnings{
    background-color:rgb(255, 255, 255);
    width: 20%;
    height: 84px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 0 rgba(112, 109, 109, 0.40);
}
.referal-earnings p:nth-child(1){
    color:rgb(0, 184, 70);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}
.total-withdraw{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 84px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 0 rgba(112, 109, 109, 0.40);
}
.total-withdraw p:nth-child(1){
    color:rgb(9, 140, 201);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}
.total-deposit{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 84px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 0 rgba(112, 109, 109, 0.40);
}
.total-deposit p:nth-child(1){
    color:rgb(253, 147, 47);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}
button{
    margin-top: 90px;
    text-align: center;
    background-color: rgb(4, 118, 133);
    width: 13%;
    height: 64px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40%;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    display: inline;
}


button:hover{
  background: #000;
  transform: translateY(-3px);
  transition: 2s;
}
footer{
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
    font-size: 12px;
    color: #4b4949;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 0);
}
