/* table style */
.styled-table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 130px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 780px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 6px 15px;
}
