<form id="form">
    <p>insert wallet</p>
    <input type="text"  placeholder="enter you wallet" id="wallet" name="wallet" required />
    
    <button class="btn-login">sign up</button>
</form>


<footer>
    <script>
    const form = document.querySelector('form');
    form.addEventListener('submit',async (e)=>{
     e.preventDefault();

       const wallet = form.wallet.value;
       
       try{
            const res =  await fetch('/wallet',{
                method:'POST',
                body: JSON.stringify({wallet}),
                headers:{'Content-Type':'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.errors){
                emailerror.textcontent= data.errors.email;
                passworderror.textcontent = data.errors.password
            }
            if(data.user){
                window.location.assign('/admin');
            }
       }catch(err){
         console.log(err);
       }
    }) 
    </script>
   
</footer>